# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
.claude
control-plane/hanzo-agents-server
examples/go_agent_nodes/go_agent_nodes

# Generated/large images
examples/python_agent_nodes/image_generation_hello_world/generated_images/*.png
assets/*.png
